@media (max-width: 700px) {
  main {
    flex-direction: column;
    gap: 20px;
    padding: 50px 0px;
  }
  .gift-img {
    width: 300px;
    height: 300px;
    margin-left: 0px;
  }
}

@media (max-width: 500px) {
  main {
    padding: 0px;
  }

  .gift-img {
    width: 200px;
    height: 200px;
    margin-top: 0px;
  }

  .gift-name {
    font-size: 22px;
  }

  .gift-category {
    font-size: 15px;
  }

  .gift-price {
    font-size: 18px;
  }

  .gift-availability {
    font-size: 12px;
  }

  .gift-additional {
    font-size: 15px;
  }

  .order-button {
    font-size: 15px;
    padding: 5px;
  }

  .modal-form {
    min-width: 200px;
    margin: 10px;
    padding:10px;
  }

  .close-button {
    font-size: 12px;
    margin:10px;
  }

  .modal-form-title {
    margin-top: 30px;
    font-size: 20px;
  }

  .modal-label-number {
    font-size: 18px;
  }
  
  .modal-price-text {
    font-size: 18px;
  }
  
  .modal-price {
    font-size: 20px;
  }
  
  .modal-field-input {
    font-size: 15px;
  }
  
  .modal-form-button {
    font-size: 15px;
  } 
}
